<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<import resource="classpath:spring-config.xml" />
	<bean id="fileRepo" class="com.solmix.fmk.repo.FileSystemRepository"
		init-method="init" destroy-method="close">
		<property name="location"  value="${repo.location}" />
		<property name="sysLocation" value="${repo.syslocation}" />
	</bean>
	<bean id="repositoryManager" class="com.solmix.fmk.repo.DSRepositoryManagerImpl">
		<property name="defaultRepo" ref="fileRepo" />
		</bean>



</beans>