<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">
           <import resource="classpath:spring-dsrepo.xml" />

	<bean id="single_sys_context" class="com.solmix.fmk.context.SingleSystemContext" scope="singleton" init-method="init">
		<property name="dataSourceManager" ref="ds_manager" />
		<property name="securityAdmin" ref="security_admin" />
		<property name="eventManager" ref="eventManager" />
		<property name="rpcManagerFactory" ref="rpcManagerFactory" />
		<property name="resourceBundleManager" ref="resourceBundle" />
	</bean>

	<bean id="resourceBundle" class="com.solmix.fmk.i18n.ResourceBundleManagerImpl" />
	
	<bean id="ds_manager" class="com.solmix.fmk.datasource.DefaultDataSourceManager" init-method="init">
		<property name="poolServiceFactory" ref="pool_factory"></property>
		<property name="repoService" ref="repositoryManager"></property>
		<property name="providers">
		<list>
		<bean id="sqlDataSource" class="com.solmix.sql.SQLDataSource" />
		<bean id="basicDataSource" class="com.solmix.fmk.datasource.BasicDataSource" />
		</list>
		</property>
		
	</bean>
	<bean id="sqlDataSource" class="com.solmix.sql.SQLDataSource" />
	<bean id="pool_factory" class="com.solmix.fmk.pool.PoolManagerFactory"></bean>
	<bean id="security_admin" class="com.solmix.fmk.security.SecurityAdminImpl"></bean>
	<!--  -->
	<bean id="eventManager" class="com.solmix.fmk.spring.event.SpringEventManager"/>
	<bean id="listener" class="com.solmix.fmk.spring.event.SpringEventListener"/>
	<bean id="rpcManagerFactory" class="com.solmix.fmk.rpc.RPCManagerFactoryImpl"></bean>
	
	<bean class="com.solmix.sql.ConnectionManager"
		init-method="init">
		<property name="poolServiceFactory" ref="pool_factory"/>
	</bean>
</beans>