<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">
           <import resource="classpath:spring-dsrepo.xml" />

	<bean id="single_sys_context" class="org.solmix.fmk.context.SingleSystemContext" scope="singleton" init-method="init">
		<property name="dataSourceManager" ref="ds_manager" />
		<property name="securityAdmin" ref="security_admin" />
		<property name="eventManager" ref="eventManager" />
		<property name="rpcManagerFactory" ref="rpcManagerFactory" />
		<property name="resourceBundleManager" ref="resourceBundle" />
	</bean>

	<bean id="resourceBundle" class="org.solmix.fmk.i18n.ResourceBundleManagerImpl" />
	
	<bean id="ds_manager" class="org.solmix.fmk.datasource.DefaultDataSourceManager" init-method="init">
		<property name="poolServiceFactory" ref="pool_factory"></property>
		<property name="repoService" ref="repositoryManager"></property>
		<property name="providers">
		<list>
		<bean id="sqlDataSource" class="org.solmix.sql.SQLDataSource" />
		<bean id="basicDataSource" class="org.solmix.fmk.datasource.BasicDataSource" /><ref bean="jpaDatasource" />
		</list>
		</property>
		
	</bean>
	<bean id="jpaDatasource" class="org.solmix.jpa.JPADataSource">
		<property name="transactionManager" ref="transactionManager"></property>

	</bean>
	<bean id="transactionManager" class="org.solmix.jpa.JPATransactionManager">
		<property name="entityManagerFactoryProvider">
			<bean class="org.solmix.jpa.LocalEntityManagerFactoryProvider">
				<property name="persistenceUnitName" value="h2"></property></bean></property></bean>
	<bean id="sqlDataSource" class="org.solmix.sql.SQLDataSource" />
	<bean id="pool_factory" class="org.solmix.fmk.pool.PoolManagerFactory"></bean>
	<bean id="security_admin" class="org.solmix.fmk.security.SecurityAdminImpl"></bean>
	<!--  -->
	<!-- <bean id="eventManager" class="org.solmix.fmk.spring.event.SpringEventManager"/> -->
	<bean id="eventManager" class="org.solmix.fmk.spring.event.DefaultEventManager"  init-method="start" destroy-method="stop">
		<property name="config" value="classpath:config/org.solmix.services.event.cfg"/>
	</bean>
	
	<!-- <bean id="listener" class="org.solmix.fmk.spring.event.SpringEventListener"/> -->
	<bean id="rpcManagerFactory" class="org.solmix.fmk.rpc.RPCManagerFactoryImpl"></bean>
	
	<bean class="org.solmix.sql.ConnectionManager"
		init-method="init">
		<property name="poolServiceFactory" ref="pool_factory"/>
	</bean>
</beans>